.container {
  margin: 0 auto;  
  width: 720px;
  position: relative;
}

nav {
	position: absolute;
	background: #bdbdbd;
	height: 100%;
	width: 20%;
}

ul {
	padding: 10px;
}

li {
	list-style-type: none;
	border-bottom: ridge;
}

a {
	display: block;
	text-decoration: none;
	padding-top: 20px;
	color: black;
}

.content {
	display: block;
	margin-left: 22%;
}